<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="http://www.aetherwings.com/images/logo.png"/>
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />

        <title>NodeJS Webserver Project</title>
        <style>
            body {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        </style>
    </head>
    <body>
        <h2>Person: <%= ID %></h2>
    </body>
</html>